:root{
    --cyan : #00ffff;
    --gray : rgb(173,173,170);
}
.navbar-brand{
    font-size: 22px !important;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: var(--cyan) !important;    
}
#navbar-supportedContent ul li a{
    font-size: 13px;
    color: var(--gray);
}
#navbar-supportedContent ul li a span {
    color: var(--cyan);

}
#navbar-supportedContent ul li a button{
    color: var(--cyan);
    border: 1px solid var(--cyan);
    border-radius: 3px;
}
